.hero {
  position: relative;
  overflow: hidden;
}

.heroContent {
  display: flex;
  padding: 72px 40px;
  margin: 0 auto;
  gap: 32px;
  position: relative;
  z-index: 2;
  max-width: 1200px;
}

.backgroundSvg{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}

.backgroundSvg .animatedPath1{
    will-change: transform;
    mix-blend-mode: multiply;
    fill: rgb(0, 153, 255);
    transform-origin: 72% 38%;
    animation: 30s ease-in-out 0s infinite normal none running lcFltb;
}

.backgroundSvg .animatedPath2{
    will-change: transform;
    mix-blend-mode: multiply;
    fill: rgb(229, 92, 255);
    transform-origin: 60% 15%;
    animation: 30s ease-in-out 0s infinite normal none running jgLnwn;
}

@keyframes lcFltb{
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
}
33% {
    transform: translate(-11.1%, -33%) rotate(37deg) scale(0.8);
}
66% {
    transform: translate(11.9%, -22%) rotate(52deg) scale(1.35);
}
100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
}
}

@keyframes jgLnwn{
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
}
33% {
    transform: translate(30.2%, 25.6%) rotate(27.7deg) scale(0.85);
}
66% {
    transform: translate(18%, 28.5%) rotate(96deg) scale(1.125);
}
100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
}
}

.title {
  color: #0b3558;
  font-size: 4.25rem;
  line-height: 1.2;
  font-weight: bolder;
  padding-bottom: 24px;
}

.paragraph {
  color: #476788;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400;
  padding-bottom: 24px;
  font-weight: 400;
}

.heroButtons {
  padding-top: 16px;
  width: 307px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttonGoogle {
  width: 100%;
  background-color: #006bff;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: white;
  border: none;
  padding: 6px 16px 6px 7px;
  gap: 16px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.buttonGoogle:hover{
  background-color: rgb(0, 78, 186);
    border-color: rgb(0, 78, 186);
}

.buttonGoogle span {
  width: 100%;
}

.buttonMicrosoft {
  width: 100%;
  background-color: #0b3558;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: white;
  border: none;
  padding: 6px 16px 6px 7px;
  gap: 16px;
  font-weight: 500;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.buttonMicrosoft:hover{
  background-color: rgb(71, 103, 136);
    border-color: rgb(71, 103, 136);
}

.buttonMicrosoft span {
  width: 100%;
}

.division {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 24px 0;
}

.division hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.division span {
  font-weight: 600;
  color: #555;
  font-size: 14px;
}

.emailSignupBox {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.emailSignupBox a {
  color: #006bff;
}

.heroGraphic {
      transform-style: preserve-3d;
          display: flex
;
    position: relative;
    z-index: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.heroGraphic .containerCard{
  cursor: pointer;
    display: flex
;
    width: 100%;
    position: absolute;
    height: fit-content;
    transition: 0.6s ease-in-out;
    border: 1px solid rgb(212, 224, 237);
    border-radius: 24px;
    box-shadow: rgba(71, 103, 136, 0.04) 0px 4px 5px 0px, rgba(71, 103, 136, 0.03) 0px 8px 15px 0px, rgba(71, 103, 136, 0.08) 0px 30px 50px 0px;
    background: rgb(255, 255, 255);
    transform: translateY(0px) scale(0.9);
    opacity: 0.75;
}

.heroGraphic .containerCard.active{
  position: relative;
    opacity: 1;
    z-index: 1;
    transform: translateY(40px) translateZ(1px);
}

.heroGraphic .containerCard .card{
      display: flex
;
    flex-direction: column;
    width: 100%;
    border-radius: 24px;
}


.heroGraphic .containerCard .card .headerCard{
  display: flex
;
    transition: padding 0.6s ease-in-out;
    flex: 1 1 0%;
    flex-direction: column;
    padding: 24px 36px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px 24px 0px 0px;
}


.heroGraphic .containerCard .card .headerCard h4{
      font-size: 1.75rem;
    line-height: 1.4;
    text-align: left;
    color: rgb(11, 53, 88);
    font-weight: 600;

}


.heroGraphic .containerCard .card .headerCard p{
  transition: 0.5s;
    margin-top: 0px;
    height: 0px;
    overflow: hidden;
        text-align: left;
    color: rgb(71, 103, 136);
    font-size: 1.125rem;
    line-height: 1.6;
    font-weight: 400;

}

.card img{
    color: transparent;
        max-width: 100%;
    height: auto;
    border-radius: 0px 0px 24px 24px;
}

.emailSignupBox {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #0b3558;
  font-weight: 500;
}


@media screen and (max-width: 992px) {
.hero{
      
}

.hero .backgroundSvg{
  display: none;
}

.hero .heroContent{
  padding: 56px 32px 32px 32px 32px;
        display: flex
;
        flex-direction: column;
        align-items: center;
}

.heroContent .heroText{
          display: flex
;
        flex-direction: column;
                max-width: unset;
        gap: 0;
                -webkit-box-align: center;
        align-items: center;
        max-width: 468px;
}


.heroContent .heroText .title{
        text-align: center;
                font-size: 3.125rem;
}

.heroContent .heroText .paragraph{
        text-align: center;
        max-width: 100%;
}

.heroButtons .buttons{
          flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
}

.emailSignupBox{
          -webkit-box-pack: center;
        justify-content: center;
}

.heroGraphic{
          gap: 24px;
}

.heroGraphic .containerCard .card .headerCard h4{
          font-size: 1.4rem;
}
}

