header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #e7edf6;
  background-color: white;
}

.headerTop {
  background-color: #f8f9fb;
  overflow: hidden;
  padding: 12px 0;
  max-height: 50px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.headerTop.hidden {
  max-height: 0;
  opacity: 0;
  padding: 0;
  pointer-events: none;
}

.wrapperBottom {
  position: relative;
  width: 100%;
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.headerTopContent {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 14px;
  font-weight: 800;
  gap: 12px;
  color: #476788;
}

.language {
  display: flex;
  align-items: center;
}

.language span {
  margin: 0 5px 0 2px;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  color: #0b3558;
}

.headerBottom ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.headerBottom ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.headerBottom ul li svg {
  margin-left: 5px;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login {
  border: none;
  background-color: transparent;
  color: #0b3558;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.getStarted {
  background-color: #006bff;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 10px 17px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}



.dropdownMenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  border-top: 1px solid #e7edf6;
  border-radius: 0 0 8px 8px;
}


.animationLine {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 0;
  height: 4px;
  background-color: #006bff;
  transition: width 0.3s ease-in-out;
}

.headerBottom ul li:hover .animationLine {
  width: 100%;
}

.headerBottom ul li.active .animationLine {
  width: 100%;
}


.headerBottom ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
}