header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #e7edf6;
  background-color: white;
}

.headerTop {
  background-color: #f8f9fb;
  overflow: hidden;
  padding: 12px 0;
  max-height: 50px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.headerTop.hidden {
  max-height: 0;
  opacity: 0;
  padding: 0;
  pointer-events: none;
}

.wrapperBottom {
  position: relative;
  width: 100%;
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.headerTopContent {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 14px;
  font-weight: 800;
  gap: 12px;
  color: #476788;
}

.language {
  display: flex;
  align-items: center;
}

.language span {
  margin: 0 5px 0 2px;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  color: #0b3558;
}

.headerBottom ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.headerBottom ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.headerBottom ul li svg {
  margin-left: 5px;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login {
  border: none;
  background-color: transparent;
  color: #0b3558;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.login:hover{
  color: rgb(71, 103, 136);
}

.getStarted {
      cursor: pointer;
    transition: 0.2s linear, background-position 1ms, background-size 1ms;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 107, 255);
    background-color: rgb(0, 107, 255);
    padding: 10px 16px;
    font-size: 0.875rem;
    line-height: 1.4;
    position: relative;
    height: fit-content;
    flex-direction: row;
    display: inline-flex
;
    opacity: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    text-align: center;
    font-family: gilroy, "gilroy Fallback";
    font-weight: 600;
}

.getStarted:hover{
      background-color: rgb(0, 78, 186);
    border-color: rgb(0, 78, 186);
}


.dropdownMenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  border-top: 1px solid #e7edf6;
  border-radius: 0 0 8px 8px;
}


.animationLine {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 0;
  height: 4px;
  background-color: #006bff;
  transition: width 0.3s ease-in-out;
}

.headerBottom ul li:hover .animationLine {
  width: 100%;
}

.headerBottom ul li.active .animationLine {
  width: 100%;
}


.headerBottom ul li {
  transition: 0.2s linear;
      cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
}


.headerBottom ul li a{
   margin: 0px 12px;
        cursor: pointer;
    position: relative;
    display: inline-flex
;
    align-items: center;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
        -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    gap: 2px;
    text-decoration: none;
}

.headerBottom  li a:hover{
   background-color: rgb(240, 243, 248);
    color: rgb(11, 53, 88);
}


.headerBottom ul li a button{
  cursor: pointer;
    display: flex
;
    width: 24px;
    height: 24px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    margin: 0px;
    padding: 0px;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
    outline: none;
    appearance: none;
}

.headerBottom ul li a:hover button svg {
  transform: rotate(180deg);
}

