.heading{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    align-items: center;
}

.containerTitle{
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.8s 0.4s, transform 0.6s 0.4s;
}

.containerTitle h2{
    font-size: 80px;
    max-width: 996px;
    line-height: 1.2;
    font-weight: 800;
    text-align: center;
    color: #0b3558;
}

.containerContent{
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.8s 0.5s, transform 0.6s 0.5s;
    width: 100%;
    max-width: 792px;
    height: 100%;
    text-align: center;
    color: #476788;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
}

.containerContent p{
    margin-bottom: 32px;
}

.containerContent a{
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s linear, background-position 1ms, background-size 1ms;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 107, 255);
    background-color: rgb(0, 107, 255);
    padding: 10px 18px;
    font-size: 1.125rem;
    line-height: 1.6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    text-align: center;;
    font-weight: 600;
}


.containerContent a:hover{
    background-color: rgb(0, 78, 186);
    border-color: rgb(0, 78, 186);
    transition: 0.2s linear, background-position 1ms, background-size 1ms;
}