.container{
    display: flex;

    justify-content: center;
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1200px;
    flex-direction: column;
}

.wrapper{
    padding: 64px 0 72px 0;
}

.container > div{
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
}
